* {
    margin: 0;
}

body {
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
}

section {
    margin: 0 auto;
    text-align: center;

    height: 300px;
    width: 80%;

    display: flex;
    flex-direction: column;
}

header {
    margin: 0 auto;
    text-align: center;

    height: 150px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    margin: 0 auto;
    text-align: center;

    height: 150px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#rss_logo {
    height: 150px;
    width: 200px;
}